<?xml version="1.0"?>
<!-- Khelifa Baizid, Oct 2015
this node provides a transformation from the laser frame to the base_link frame and from the base_link frame to odom frame based on the /odometry topic
-->

<launch>

  <include file="$(find kobuki_node)/launch/robot_with_tf.launch" />

  <!--node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" >
    <param name="min_ang" value="-1.9"/>
    <param name="max_ang" value="1.9"/>
  </node-->
   <node  pkg="urg_node" type="urg_node" name="urg_node" >
    <param name="angle_min" value="-1.6"/>
    <param name="angle_max" value="1.6"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.110 0 0.02478 0 0 0 1 base_link laser 50" />
  
</launch>
