<?xml version="1.0"?>
<!-- Khelifa Baizid, Nov. 2015
-->

<launch>
 
<!-- play a bag file -->
  <node pkg="rosbag" type="play" name="player" args="--clock $(find turtlebot_car)/rosbags/turtlebot_bag_second_loop.bag" />

<!-- launch gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="gmapping_node" >
    <!-- Map size / start point -->
    <param name="maxUrange" value="4.0"/>
    <param name="delta" value="0.03"/>
    <param name="xmin" value="-5.0"/>
    <param name="ymin" value="-5.0"/>
    <param name="xmax" value="7.0"/>
    <param name="ymax" value="5.0"/>
  </node>

<!-- visulize on rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find turtlebot_car)/rviz_cfg/gmapping.rviz"/>
</launch>
