<launch>
    <arg name="iface" default="wlo1" />
    <arg name="port" default="9196" />
    <arg name="init_x" default="-1.41290802042"/>
    <arg name="init_y" default="-0.297142914121"/>
    <arg name="init_z" default="0.0102"/>
    <arg name="neighbor_map" default="/neighbor_map"/>
    
    <node pkg="multi_master_bridge" type="portal" respawn="false" name="portal" output="screen"/> 


    <node pkg="multi_master_bridge" type="beacon" respawn="false" name="beacon" output="screen"> 
        <param name="broadcast_to" value="$(arg port)"/>
        <param name="broadcast_interface" value="$(arg iface)"/>
        <param name="refresh_rate" value="2"/>
    </node>
  
    <node pkg="multi_master_bridge" type="robot_discover" respawn="false" name="robot_discover" output="screen"> 
        <param name="listen_to" value="$(arg port)"/>
        <param name="listen_interface" value="$(arg iface)"/>
    </node>

     <node pkg="multi_master_bridge" type="map_feeding" respawn="false" name="map_exchange" output="screen" launch-prefix="">
     <!-- gdb -ex run ~~args -->
        <param name="publish_to" value="$(arg neighbor_map)"/>
        <param name="robot_decay_time_s" value="5"/>
        <param name="network_interface" value="$(arg iface)"/>
        <param name="init_x" value="$(arg init_x)"/>
        <param name="init_y" value="$(arg init_y)"/>
        <param name="init_z" value="$(arg init_z)"/>
    </node>

     <node pkg="multi_master_bridge" type="map_merging" respawn="false" name="map_merging" output="screen" launch-prefix="">
     <!-- gdb -ex run ~~args -->
        <param name="other_map" value="$(arg neighbor_map)"/>
        <param name="my_map" value="/map"/>
        <param name="merged_map_topic" value="/global_map"/>
        <param name="init_x" value="$(arg init_x)"/>
        <param name="init_y" value="$(arg init_y)"/>
        <param name="init_z" value="$(arg init_z)"/>
    </node>

</launch>
