<launch>
<include file="$(find cartographer_turtlebot)/launch/turtlebot_urg_lidar_2d.launch" />

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.110 0 0.02478 0 0 0 1 base_link laser 50" />

  <!-- joystick -->
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="joy_node/dev" value="/dev/input/js0"/>
  </node>
  <include file="$(find turtlebot_teleop)/launch/xbox360_teleop.launch"/>

</launch>